<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Svarupa</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <style type="text/css">
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .container {
    width: 300px;
  }

  /* The white background content wrapper */
  .container > .content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
  }

  .login-form {
    margin-left: 65px;
  }

  td {
    padding:15px;
  }

  legend {
    margin-right: -50px;
    font-weight: bold;
    color: #404040;
  }

  </style>
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-responsive.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

  <script src="{{url_for('static', filename='js/vendor/modernizr-2.6.2-respond-1.1.0.min.js')}}"></script>
</head>
<body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->

            <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->
            <div class="navbar navbar-inverse navbar-fixed-top">
              <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <a class="brand" href="/"><h2 style="font-family: 'Verdana'">svarupa</h2></a>
                  <div class="nav-collapse collapse" style="margin-top: 20px; float: right;">
                    <ul class="nav">
                      <li><a href="/">Home</a></li>
                      <li><a href="/events/">All Events</a></li>
                      <li><a href="/category/">Category</a></li>
                      <li><a href="/about/">About</a></li>
                    </ul>
                    <ul class="nav pull-right">
                      {% if not session.logged_in %}
                      <li><a href="/login/" style="background-image:  url('../static/img/facebook_login.png'); background-repeat:no-repeat; margin-top: 10px;"> <span style="visibility:hidden; ">login/signup with facebook</span> </a></li>
                      {% else %}
                      <li><a href="/logout/">Logout</a></li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <body>
              <div class="container">
                <div class="content">
                  <div class="row">
                    <div class="login-form">
                      <h2>Create an event</h2>
                      Organising life in an easier way
                      <br/><br/><br/><br/>
                      <form method="POST" action="/submitNewEvent">
                        <table>
                          <tr>
                            <td>
                              <fieldset>
                                <div class="clearfix">
                                  <label>Event Name: </label><input type="text"  name='name'>
                                </div><br/>

                                <div class="clearfix">
                                 <label> Date : </label><input type="date" name='date'>
                               </div><br/>

                               <div class="clearfix">
                                <label>Time: </label><input type="time" name="time">
                              </div><br/>
                              <div class="clearfix">
                                <label>Category : </label><select name='category'>
                                <option value="tech">Technical</option>
                                <option value="sports">Sports</option>
                                <option value="ewd">EWD</option>
                                <option value="cultural">Cultural</option>
                                <option value="music">Music</option>
                              </select>
                            </div><br/>
                          </td>

                          <td>
                            <div class="clearfix">
                              <label>Location :</label> <input type="text" name='loc'>
                            </div><br/>
                            <div class="clearfix">
                              <label>Description :</label> <textarea rows="9" cols="50" name='desc'> </textarea>
                            </div><br/>
<!--
                      <div class="clearfix">
                        <label>Select banner: </label> <input type="file" name="img">
                      </div><br/> -->
                    </td>
                  </tr>
                </table>
                <button class="btn btn-primary" type="submit">Create</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  </html>